[project]
name = "yourbench"
version = "0.2.0"
description = "Dynamic Evaluation Set Generation with Large Language Models"
readme = "README.md"
requires-python = ">=3.12, <3.13"
dependencies = [
    "asyncio>=3.4.3",
    "datasets>=3.3.0",
    "gradio>=5.16.0",
    "hf-transfer>=0.1.9",
    "langfuse>=2.59.3",
    "litellm>=1.61.5",
    "loguru>=0.7.3",
    "markitdown>=0.0.1a4",
    "matplotlib>=3.10.0",
    "openai>=1.63.0",
    "python-dotenv>=1.0.1",
    "torch>=2.6.0",
    "tqdm>=4.67.1",
    "transformers>=4.48.3",
]

[project.scripts]
yourbench = "yourbench.main:main"

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = ["yourbench*"]
