hf_configuration:
  hf_dataset_name: yourbench_example # change this to your desired dataset name
  private: false # change this to true if you want to make the dataset private. it's true by default.
  upload_card: true # whether to automatically upload README dataset cards

model_list:
  - model_name: Qwen/Qwen3-30B-A3B
    provider: fireworks-ai

pipeline:
  ingestion:
    source_documents_dir: example/data/raw
    output_dir: example/data/processed
  upload_ingest_to_hub:
  summarization:
  chunking:
  single_shot_question_generation:
  multi_hop_question_generation:
  lighteval:
  citation_score_filtering: